body
  background-image url("/images/sparkles.gif");

div.chat
  color #411537;
  font 14px "Comic Sans", "Comic Sans MS", cursive;
  border-color DarkPink
  background-color #c462af

  .head
    background-color LightPink

  table.chat-view
    background-image: url("/images/kitty.gif");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scrollbar-base-color: LightPink;
    scrollbar-arrow-color: Pink;
    scrollbar-DarkShadow-color: DarkPink;
    td.left, td.announcement
      border-color LightPink
    td.user:before
      content: "Cute-little-"

  input
    color #411537
    background-color LightPink
    font-family "Comic Sans", "Comic Sans MS", cursive
