div.chat
  border 1px solid silver
  border-radius 10px
  background-color #eee

  .chat-view
    border 2px inset silver
    background-color white

  .head
    background-color #bbb

  .message
    background-color white
    border 1px solid gray

  .announcement
    color: #999

