script(type='text/javascript', src='javascripts/lib/require.js', data-main='javascripts/chat.js')
link(type='text/css', href='/stylesheets/chat/common.css', rel='stylesheet')
div.chat
    div.head
        label Select theme:
          select.theme
            option(value='simple') Simple
            option(value='hello-kitty') Hello Kitty
        input.change-name(type='button', value='Change name')

    table.chat-view
        tbody
            tr.filler
                td
                td

    div.foot
        input.message(type='text')
        input.send(type='button', value='Send')

