h1 Simple chat
ul(id="log")
script(type='text/javascript', src='javascripts/lib/require.js', data-main='javascripts/chat.js')
input(type='text', id='message')
input(type='button', value='Send', id='send')
br
input(type='button', value='Change name', id="change-name")
