script(type='text/javascript', src='javascripts/lib/require.js', data-main='javascripts/ludo.js')
link(type='text/css', href='/stylesheets/ludo/common.css', rel='stylesheet')
div.ludo
  div Game ID:
    code.game-id
  div.dice-container
    div.dice 0
    input.roll-dice(type='button', value='Roll')
