table.rectangle-board
  border-collapse collapse
  td
    cursor default
    width 40px
    height 40px
    text-align center
    vertical-align middle
    color #888
    border 1px solid #666
  td:hover
    background-color #ddd
